@model Bugtracker.Models.TicketViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ticket</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Ticket.Id)
    @Html.HiddenFor(model => model.Ticket.Created)

    <div class="form-group">
        @Html.LabelFor(model => model.Ticket.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ticket.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ticket.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ticket.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Ticket.ProjectId, Model.Projects, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ticket.ProjectId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ticket.AssignedUserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Ticket.AssignedUserId, Model.AssignedToUsers, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ticket.AssignedUserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ticket.TicketPriorityId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Ticket.TicketPriorityId, Model.TicketPriorities, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ticket.TicketPriorityId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ticket.TicketStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Ticket.TicketStatusId, Model.TicketStatuses, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ticket.TicketStatusId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ticket.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Ticket.Description, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ticket.Description, "", htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
